@tailwind base;
@tailwind components;
@tailwind utilities;

.drag > div {
    transform: rotate(5deg);
}
.ghost {
    background: lightgray;
    border-radius: 6px;
}
.ghost > div {
    visibility: hidden;
}
